[Desktop Entry]
Encoding=UTF-8
Name=Elive Welcome
Comment=Elive Welcome Screen
Icon=gnome-info
Exec=elive-welcome-launcher
Terminal=false
Type=Application
Categories=

