[Desktop Entry]
Exec=elive-welcome
Icon=elive-welcome
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
NotShowIn=KDE;
StartupNotify=false
Name=Welcome Screen
Name[af]=Welkom Skerm
Name[am]=እንኳን ደህና መጡ
Name[ar]=شاشة الترحيب
Name[ast]=Pantalla de bienvenida
Name[az]=Qarşılama Ekranı
Name[be]=Экран вітання
Name[bg]=Приветстващ Екран
Name[bn]=ওয়েলকাম স্ক্রিন
Name[bs]=Ekran dobrodošlice
Name[ca]=Pantalla de benvinguda
Name[ca@valencia]=Pantalla de benvinguda
Name[cs]=Uvítací obrazovka
Name[csb]=Ekran przëwitaniô
Name[cy]=Sgrin Croeso
Name[da]=Velkomstskærm
Name[de]=Willkommensbildschirm
Name[el]=Οθόνη Καλωσορίσματος
Name[eo]=Bonvena ekrano
Name[es]=Pantalla de bienvenida
Name[et]=Tere tulemast
Name[eu]=Ongi etorri pantaila
Name[fa]=صفحه خوش‌آمدگویی
Name[fi]=Aloitusnäkymä
Name[fil]=Screen ng Pagbati
Name[fo]=Vælkomstskíggi
Name[fr]=Écran d'accueil
Name[fr_CA]=Écran d'accueil
Name[frp]=Ècran de benvenyua
Name[fy]=Wolkomstskerm
Name[ga]=An Scaoileán Fáilte
Name[gd]=An sgrìn fàilteachaidh
Name[gl]=Pantalla de benvida
Name[he]=מסך "ברוכים הבאים"
Name[hi]=स्वागत पटल
Name[hr]=Zaslon dobrodošlice
Name[hu]=Üdvözlőképernyő
Name[ia]=Pagina de benvenite
Name[id]=Layar Selamat Datang
Name[is]=Upphafsskjár
Name[it]=Schermata di benvenuto
Name[jv]=Tirai layar sugeng rawuh
Name[ka]=მისალმების ეკრანი
Name[kk]=Сәлемдесу экраны
Name[ko]=환영합니다
Name[ku]=Bixêrhatî dîmenderê
Name[ky]=Учурашуу экраны
Name[la]=Salve
Name[lb]=Wëllkom Bildschirm
Name[lt]=Susipažinimas su Linux sistema
Name[lv]=Sveiciena ekrāns
Name[mg]=Tongasoa
Name[ml]=സ്വാഗതം
Name[mr]=स्वागत
Name[ms]=Skrin Aluan
Name[my]=ကြိုဆိုသည့်မျက်နှာပြင်
Name[nb]=Velkomstskjerm
Name[nds]=Willkommensbildschirm
Name[ne]=स्वागत स्क्रीन
Name[nl]=Welkomstscherm
Name[nn]=Velkomstskjerm
Name[oc]=Ecran d'acuèlh
Name[om]=Agarsiiftuu anaadhufuu
Name[pa]=ਜੀ ਆਇਆਂ ਨੂੰ ਸਕਰੀਨ
Name[pap]=Bon bini
Name[pl]=Ekran powitalny
Name[pt]=Ecrã de boas vindas
Name[pt_BR]=Tela de Boas Vindas
Name[pt_PT]=Ecrã de boas vindas
Name[ro]=Bun venit
Name[ru]=Экран приветствия
Name[sc]=Bentana de Bene Bènnidu
Name[shn]=ၽိဝ်ၼႃႈ ႁူမ်ၸုမ်းႁပ့်တွၼ်ႈ
Name[si]=පිළිගැනීමේ තිරය
Name[sk]=Uvítacia obrazovka
Name[sl]=Pozdravni zaslon
Name[so]=Shaashadda Soodhaweynta
Name[sq]=Ekrani i Mirëseardhjes
Name[sr]=Екран добродошлице
Name[sr@latin]=Ekran dobrodošlice
Name[su]=Layar Wilujeng Sumping
Name[sv]=Välkomstskärm
Name[ta]=நல்வரவு
Name[te]=స్వాగతపు తెర
Name[tg]=Экрани табрик
Name[th]=หน้าจอต้อนรับ
Name[tr]=Karşılama Ekranı
Name[uk]=Екран привітання
Name[ur]=خوش آمدید سکرین
Name[uz]=Кириш пайтидаги экран
Name[vi]=Màn hình Chào mừng
Name[zh_CN]=欢迎画面
Name[zh_HK]=歡迎畫面
Name[zh_TW]=歡迎畫面
Comment=Introduction to Elive
Comment[af]=Voorstelling tot Elive
Comment[am]=ሊነክስ ሚንትን ይተዋወቁ
Comment[ar]=مقدمة لـ Elive
Comment[ast]=Introducción a Elive
Comment[az]=Elive-ә giriş
Comment[be]=Уводзіны ў Elive
Comment[bg]=Въведение в Elive
Comment[bn]=লিনাক্স মিন্ট পরিচিতি
Comment[bs]=Uvod u Elive
Comment[ca]=Introducció a Elive
Comment[ca@valencia]=Introducció a Elive
Comment[cs]=Úvod do Elive
Comment[csb]=Wprowadzenié do Elive
Comment[cy]=Cyflwyniad i Elive
Comment[da]=Introduktion til Elive
Comment[de]=Einführung in Elive
Comment[el]=Εισαγωγή στο Elive
Comment[es]=Introducción a Elive
Comment[et]=Sissejuhatus Elivei
Comment[eu]=Elive-era sarrera
Comment[fa]=آشنایی با لینوکس مینت
Comment[fi]=Elive -esittely
Comment[fil]=Panimula sa Elive
Comment[fo]=Innleiðsla í Elive
Comment[fr]=Introduction à Elive
Comment[fr_CA]=Présentation de Elive
Comment[fy]=Yntroduksje ta Elive
Comment[ga]=Réamheolas faoi Elive
Comment[gd]=A' cur aithne air Elive
Comment[gl]=Introdución a Elive
Comment[he]=מבוא לינוקס מינט
Comment[hi]=लिनक्स मिंट से परिचय
Comment[hr]=Uvod u Elive
Comment[hu]=A Elive bemutatása
Comment[ia]=Introduction a Elive
Comment[id]=Pengenalan ke Elive
Comment[is]=Kynning á Elive
Comment[it]=Introduzione a Elive
Comment[ja]=Elive のご紹介
Comment[jv]=Pengenalan ing Elive
Comment[ka]=Elive-ის შესავალი
Comment[kk]=Elive кіріспесі
Comment[ko]=리눅스 민트 소개
Comment[ky]=Elive'ке киришүү
Comment[lb]=Afeierung zu Elive
Comment[lt]=Įvadas į Elive
Comment[lv]=Iepazīšanās ar Elive
Comment[mg]=Fanehoana an'i Elive
Comment[ml]=ലിനക്സ് മിന്റിനൊരു അവതാരിക
Comment[mr]=लिनक्स मिंट सोबत ओळख
Comment[ms]=Pengenalan ke Elive
Comment[my]=လင်းနက်စ် မင့် မိတ်ဆက်
Comment[nb]=Introduksjon til Elive
Comment[nds]=Einführung in Elive
Comment[ne]=लिनक्स मिन्टको परिचय
Comment[nl]=Introductie van Elive
Comment[nn]=Introduksjon til Elive
Comment[oc]=Introduccion a Elive
Comment[om]=Seensa Elive
Comment[pa]=ਲੀਨਕਸ ਮਿਟ ਨਾਲ ਜਾਣ ਪਛਾਣ
Comment[pap]=Introdukshon na Elive
Comment[pt]=Introdução ao Elive
Comment[pt_BR]=Introdução ao Elive
Comment[pt_PT]=Introdução ao Elive
Comment[ro]=Introducere în Elive
Comment[ru]=Введение в Elive
Comment[sc]=Introduida a Elive
Comment[si]=ලිනක්ස් මින්ට් හඳුන්වාදීම
Comment[sk]=Úvod do Elive
Comment[sl]=Uvod v Elive
Comment[so]=Horudhaca Elive
Comment[sq]=Hyrje në Elive
Comment[sr]=Упознавање са Минт Линуксом
Comment[sr@latin]=Uvod u Elive
Comment[su]=Wawanohan reujeung Elive
Comment[sv]=Introduktion till Elive
Comment[ta]=லினக்ஸ் மின்ட் அறிமுகம்
Comment[te]=లినక్స్ మింట్ పరిచయం
Comment[tg]=Шиносоӣ бо Elive
Comment[th]=ขอแนะนำลีนุกซ์มินต์
Comment[tl]=Pambungad sa Elive
Comment[tr]=Elive'e Giriş
Comment[uk]=Знайомство з Elive
Comment[ur]=لینکس مینٹ کا تعارف
Comment[uz]=Elive га кириш
Comment[vi]=Giới thiệu Elive
Comment[zh_CN]=Elive 介绍
Comment[zh_HK]=Elive 簡介
Comment[zh_TW]=Elive 導覽
